---

---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header class="bg-slate-50 border-b-[1px] border-slate-200">
      <div class="container mx-auto">
        <div class="flex justify-between items-center">
          <div class="h-[69px]">Logo</div>
          <div class="flex divide-x">
            <nav class="">
              <ul class="flex px-4 space-x-4">
                <li><a>Contact</a></li>
                <li><a>News</a></li>
                <li><a>Learning</a></li>
                <li><a>Guide</a></li>
              </ul>
            </nav>
            <div class="px-4">
              <a>User Name</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- Search -->
      <div
        class="flex flex-col items-center justify-center h-[440px] space-y-8"
      >
        <div class="text-4xl">Input you search word.</div>

        <!-- <div class="mx-8"> -->
        <input
          class="text-2xl bg-white border border-slate-300 p-2 max-w-[640px] w-full m-8"
          type="text"
          placeholder="Search"
        />
        <!-- </div> -->
        <div class="flex">
          <div class="px-4">FAQ:</div>
          <div class="space-x-8">
            <a>abc</a>
            <a>abc</a>
            <a>abc</a>
          </div>
        </div>
      </div>
      <!-- Main Contents -->
      <div class="bg-slate-50 pt-8 pb-16">
        <div class="container mx-auto">
          <div class="flex justify-center space-x-8">
            <!-- Content -->
            <div class="bg-white border border-slate-200 w-full">
              <div
                class="flex flex-col items-center justify-center py-8 space-y-2"
              >
                <div class="h-[80px]">Icon</div>
                <div class="text-2xl">Serivce</div>
                <div>Service 1Lorem ipsum dolor sit amet</div>
              </div>
            </div>
            <!-- Content -->
            <div class="bg-white border border-slate-200 w-full">
              <div
                class="flex flex-col items-center justify-center py-8 space-y-2"
              >
                <div class="h-[80px]">Icon</div>
                <div class="text-2xl">Serivce</div>
                <div>Service 1Lorem ipsum dolor sit amet</div>
              </div>
            </div>
            <!-- Content -->
            <div class="bg-white border border-slate-200 w-full">
              <div
                class="flex flex-col items-center justify-center py-8 space-y-2"
              >
                <div class="h-[80px]">Icon</div>
                <div class="text-2xl">Serivce</div>
                <div>Service 1Lorem ipsum dolor sit amet</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- News -->
      <div class="bg-slate-50 pt-8 pb-16">
        <div class="container mx-auto">
          <div class="two-color-divider"></div>
          <div>
            <p class="text-2xl py-4">News</p>
          </div>
          <div class="flex justify-center space-x-8">
            <!-- Content -->
            <div class="flex flex-col items-start w-full">
              <div>
                Service 1Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </div>
              <div>2023-10-01</div>
            </div>
            <!-- Content -->
            <div class="flex flex-col items-start w-full">
              <div>
                Service 1Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </div>
              <div>2023-10-01</div>
            </div>
            <!-- Content -->
            <div class="flex flex-col items-start w-full">
              <div>
                Service 1Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </div>
              <div>2023-10-01</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Other Services -->
      <div class="bg-slate-50 pt-8 pb-16">
        <div class="container mx-auto">
          <div class="two-color-divider"></div>
          <div>
            <p class="text-2xl py-4">Other Services</p>
          </div>
          <div class="flex justify-center space-x-8">
            <!-- Content -->
            <div class="bg-slate-200 w-full">
              <div class="flex flex-col items-center space-y-4 py-8">
                <div class="text-xl">Service 1</div>
                <div>Description</div>
              </div>
            </div>
            <!-- Content -->
            <div class="bg-slate-200 w-full">
              <div class="flex flex-col items-center space-y-4 py-8">
                <div class="text-xl">Service 1</div>
                <div>Description</div>
              </div>
            </div>
            <!-- Content -->
            <div class="bg-slate-200 w-full">
              <div class="flex flex-col items-center space-y-4 py-8">
                <div class="text-xl">Service 1</div>
                <div>Description</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="bg-slate-500 text-white text-sm">
      <div class="container mx-auto py-8">
        <div class="flex justify-between">
          <div class="flex space-x-4">
            <a>Cookie settings</a>
            <a>Privacy policy</a>
          </div>
          <div>
            <a>Company</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<style>
  .two-color-divider {
    width: auto;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(0, 128, 128, 1) 0%,
      rgba(0, 128, 128, 1) 80px,
      rgba(226, 232, 240, 1) 80px,
      rgba(226, 232, 240, 1) 100%
    );
  }
</style>
